
.textoverde{
    color: rgb(46, 201, 74);
}

h2{
    color: rgb(12, 1, 8);
}


h1,h2 h3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(43, 226, 113);
}


header{
    position: sticky;
    top: 0;
    


}
    
 
.textoespecial{
    color: rgba(165, 42, 42, 0.956);
    font-weight: bolder;
    font-style: italic;

}


a{
    color: black;
    text-decoration: none;


}



div{
    
    background-color: rgb(127, 154, 144);
}

img{
    display: block;
}


footer{

    background-color: rgba(0, 72, 255, 0.493);
    color: rgba(19, 20, 19, 0.742);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;




}





 @font-face{

    font-family: "oswald";
    src: url(../assets/font/Oswald.zip);
 }
    


 p{
    font-family: "oswald",sans-serif;
 }


 .igcolor{

    color: crimson;
 }


 
section ol{

    background-color: rgba(147, 210, 30, 0.767);
    

}
    

ol{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}

 fieldset{
    color: rgb(252, 58, 44);
 }

   .padre{
    
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

.hijo{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 149, 255);
    border: solid 1px black ;

 }

 .hijoa{
    background-color: rgb(43, 147, 226);
    width: 100px;
    height: 100px;
    border: solid 1px black ;

 }


 ul{
    width: 90%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
 }
 
 
 header ul{

    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(23, 117, 97);
    color: rgb(66, 30, 210);
    
 }




.gridpadre{

    display: grid;
    grid-template-columns:200px 250px 300px;
    grid-template-rows:200px;
    justify-items: stretch;
    align-items: start;
    
}


.grid1{

  background-color: rgb(49, 43, 226);
    width: 100px;
    height: 100px;
    border: solid 1px black ;

}